<h1>Home Pages <a href="/posts/new" class="btn btn-small pull-right"><i class="icon-plus"></i> New Post</a></h1>
  <ul class="main-list well">
    <% @posts.each do |post| %>

      <li class="row-fluid">
        <div class="span6"><%= post.title %></div>
        <div class="pull-right">
          <a href="/posts/<%= post.id %>" class="btn btn-mini"><i class="icon-zoom-in"></i></a>
          <a href="/posts/<%= post.id %>/edit" class="btn btn-mini"><i class="icon-edit"></i></a>
          <a href="/posts/<%= post.id %>" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete">
            <i class="icon-remove"></i>
          </a>
        </div>
      </li>

    <% end %>
  </ul>
<br>
